<html>
<head>
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> TITLE</title>
    {% endif %}
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
<body>
{% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category}}">
            <center> {{ message }}</center>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
<div class="container">
	<div class="h2">
			<h1><a href="{{ url_for('admin') }}" class="nav-link" style="text-align: center;color: wheat;font-family: Georgia;font-size: xx-large">Admin Panel</a>
</h1>
	</div>
	<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="nav navbar-nav text-center">
			<li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link active">Home</a></li>
			<li class="nav-item non-active"><a href="{{ url_for('room_types') }}" class="nav-link">Room & Facilities</a></li>
			<li class="nav-item non-active"><a href="{{ url_for('availibility') }}" class="nav-link">Online Reservation</a></li>
		</ul>
		</div>
	<ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ url_for('logout') }}">
                            <button type="button" class="btn btn-danger btnl">Logout</button>
                        </a>
                    </li>
    </ul>
	</nav>
</div>
<div class="row rowadmin">
           <div class="col-md-3"></div>
            <div class="col-md-6 well">
                <h4>Room Category</h4>
                <hr>
                <ul>
                    <li class="a"><a href="{{ url_for('newroom') }}">Add Room Category</a></li>
                    <li class="a"><a href="{{ url_for('rooms2') }}">Show All Room Category</a></li>
                </ul>
            </div>
            <div class="col-md-3"></div>
</div>
<div class="row rowadmin">
           <div class="col-md-3"></div>
            <div class="col-md-6 well">
                <h4>Bookings</h4>
                <hr>
                <ul>
                    <li class="a"><a href="{{ url_for('book') }}">Book Now</a></li>
                    <li class="a"><a href="{{ url_for('bookings') }}">Show All Bookings</a></li>

                </ul>
            </div>
            <div class="col-md-3"></div>
</div>
<div class="row rowadmin">
           <div class="col-md-3"></div>
            <div class="col-md-6 well">
                <h4>Manager</h4>
                <hr>
                <ul>
                    <li class="a"><a href="{{ url_for('register') }}">Add Manager</a></li>
                    <li class="a"><a href="{{ url_for('managers') }}">Show Managers</a></li>


                </ul>
            </div>
            <div class="col-md-3"></div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>